/*Must use the following 'meta' tag in 'head' section of 'html' file:
	<meta name="viewport" content="width=device-width, initial-scale=1">
*/


/*Desktop : Medium : 1280px */
@media only screen and (min-width: 992px) and (max-width: 1199px){
	
}

/*Tablet layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
	


}




/*Mobile layout: 320px. */
@media only screen and (max-width: 767px){
	.navbar-default .navbar-nav > li > a {padding: 10px 15px;}
	.section3 img {margin: 0 auto;}
	.icon-info a {margin-bottom: 50px;}
	.icon-info2::before {display: none;}
	.section4 .icon-info-1 {margin: 0;}
	.col-sm-3.icon-info2, .col-sm-3.icon-info3 {margin-bottom: 15px;}
	.section2 h1 {font-size: 35px;}
	.section2 h3{margin-top: 35px;}

}

/*Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px){



}
